
# - Only tested with Phred33 quality scores

samples: config/samples.tsv

units: config/units.tsv



#############
### READS ###
#############
reads:
  trim:
    activate: true
    tool: fastp
    params: "--verbose --detect_adapter_for_pe --dont_eval_duplication --trim_poly_g --trim_poly_x --qualified_quality_phred 30 --average_qual 25 --length_required 30 --low_complexity_filter --complexity_threshold 30 --overrepresentation_analysis --correction --overlap_len_require 30 --overlap_diff_limit 5 --overlap_diff_percent_limit 20"

  # Ignored for SE
  collapse:
    activate: true
    params: "--merge"

report:
  multiqc: "--verbose"
