$schema: "https://json-schema.org/draft/2020-12/schema"

description: Read trimming configuration file

type: object
properties:

  samples:
    type: string

  units:
    type: string

  reads:
    type: object
    properties:
      trim:
        type: object
        properties:
          activate:
            type: boolean
          tool:
            type: string
            enum: ["adapterremoval", "bbduk", "cutadapt", "fastp", "trimmomatic"]
          params:
            type: string
        required:
          - activate
          - tool
          - params

      collapse:
        type: object
        properties:
          activate:
            type: boolean
          params:
            type: string
        required:
          - activate
          - params

    required:
      - trim
      - collapse

  report:
    type: object
    properties:
      multiqc:
        type: string
    required:
      - multiqc

required:
  - samples
  - units
  - reads
  - report
