
# - Only tested with Phred33 quality scores

samples: config/samples.tsv

units: config/units.tsv



#############
### READS ###
#############
reads:
  trim:
    activate: true
    tool: adapterremoval
    params: "--trimns --maxns 20 --trimqualities --minquality 5 --minlength 30"

  # Ignored for SE
  collapse:
    activate: true
    params: "--collapse --minalignmentlength 11 --collapse-conservatively"

report:
  multiqc: "--verbose"
